# Скопируй в .env и заполни значения

# API ключ Mistral AI (из файла settings_ai)
MISTRAL_API_KEY=Lmb611aRheNKwapHows59XWERb9DwRoi
MISTRAL_AI_MODEL=pixtral-large-latest

# PostgreSQL
POSTGRES_DB=wb_scanner
POSTGRES_USER=wb_user
POSTGRES_PASSWORD=your_strong_password_here
